gasConc1.txt
gasConcExcel.txt
gasConcMasked.txt
wd3_mask.txt
windDir.txt
windDirExcel.txt
windDirMasked.txt
windDirMaskedRolled.txt
windDirOrig.txt
windDirStart.txt
windSpdExcel.txt
windSpdMasked.txt
wsX.txt
wsXYZ.txt
wsY.txt
wsZ.txt
